/***** MAIN *****/
.hero{
    width: 100%;
    height: 90vh;
    background-image: url(../img/fondo-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #f1f512;
    @extend %index-hero;
    h2{
        display: inline-block;
        font-size: 100px;
        font-family: 'Bebas Neue', sans-serif;
        border-block-end: 2px #ff0000 solid;
        padding: 10px;
    }
    p{
        display: inline-block;
        font-size: 50px;
        font-family: 'Bebas Neue', sans-serif;
        border-block-end: 2px #ff0000 solid;
    }
}
.grid-galeria{
    margin-top: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 5px;
    .grid-foto{
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.musculos{
    h2{
        background-color: #000000;
        color: #ffffff;
        font-style: italic;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding: 20px;
        -moz-box-shadow: 3px 27px 32px 6px #0032f0c7;
        -webkit-box-shadow: 3px 27px 32px 6px #0032f0c7;
        box-shadow: 3px 27px 32px 6px #0032f0c7;
    }
    .musc-flex{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        cursor: default;
        div{
            width: 200px;
            height: 225px;
            border: 5px solid #000000;
            text-align: center;
            background-color: #e27933;
            margin: 70px;
            border-radius: 25%;
            display: inline-block;
            -moz-box-shadow: 16px 14px 29px 9px #0032f0c7;
            -webkit-box-shadow: 16px 14px 29px 9px #0032f0c7;
            box-shadow: 16px 14px 29px 9px #0032f0c7;
            transition: 2s;
            &:hover{
                transform: scale(1.3);
            }
            img{
                width: 150x;
                height: 150px;
            }
            .boton{
                font-size: 15px;
                text-decoration: none;
                font-style: italic;
                font-family: 'Poppins', sans-serif;
                color: #ffffff;
                background-color: #e27933;
                cursor: pointer;
                transition: all 400ms ease;
                padding: 5px;
                &:hover{
                    color: #0032f0c7;
                    transition: 1s;
                }
            }
        }
    }
}