/*****PAGINA-RUTINAS*****/
/*****MAIN*****/
.introduccion{
    div{
        h2{
            font-size: 50px;
            font-style: italic;
            font-family: 'Poppins', sans-serif;
            color: #e27933;
            padding: 15px;
        }
        p{
            font-size: 20px;
            font-style: italic;
            font-family: 'Poppins', sans-serif;
            padding: 0 0 0 15px;
        }
    }
}
.distribucion{
    h3{
        color: #e27933;
        text-align: center;
    }
    .tabla{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 25px;
        table{
            background-color: #ffffff;
            text-align: left;
            width: 50%;
            height: 100%;
            border: 1px solid #000000;
            tbody{
                tr{
                    &:nth-child(even){
                        background-color: #aca0a073;
                    }
                    th{
                        border-bottom: 5px solid rgb(0, 0, 0);
                        background-color: #212529;
                        color: #ffffff;
                        padding: 5px;
                    }
                }
                tr{
                    td{
                        border: 1px solid #000000;
                        padding: 2px;
                    }
                }
            }
        }
    }
    .tabla{
        .entreno{
            text-align: center;
        }
    }
}