/*****MEDIA-QUERIES-INDEX*****/
@media screen and(max-width:900px) {
    .hero{
        h2{
            font-size: 60px;
        }
        p{
            font-size: 30px;
        }
    }
}
@media screen and (max-width:615px){
    .hero{
        h2{
            font-size:60px ;
        }
        p{
            font-size:30px ;
        }
    }
}
@media screen and (max-width:530px){
    .hero{
        h2{
            font-size:50px ;
        }
        p{
            font-size:25px ;
        }
    }
}
@media screen and (max-width:445px){
    .hero{
        h2{
            font-size: 40px;
        }
        p{
            font-size: 25px;
        }
    }
}
@media screen and (max-width:360px){
    .hero{
        h2{
            font-size: 30px;
        }
        p{
            font-size: 20px;
        }
    }
}
@media screen and (max-width:950px){
    .grid-galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 170px;
        .grid-foto{
            grid-column: span 1;
            grid-row: span 1;
        }
        .img4{
            grid-column: span 1;
            grid-row: span 1;
        }
    }
}
@media screen and (max-width:450px){
    .grid-galeria{
        grid-template-columns: 1fr;
        .grid-foto{
            grid-column: span 1;
            grid-row: span 1;
        }
    }
}
@media screen and (max-width:640px){
    footer img{
        width: 125px;
    }
}
/*****MEDIA-QUERIES-RUTINAS*****/
@media screen and (max-width:905px){
    .introduccion{
        div{
            h2{
                font-size: 35px;
            }
        }
    }
}
@media screen and (max-width:370px){
    .introduccion{
        div{
            h2{
                font-size: 30px;
            }
            p{
                font-size: 18px;
            }
        }
    }
}
@media screen and (max-width:643px){
    .introduccion{
        div{
            p{
                font-size: 18px;
            }
        }
    }
}
@media screen and (max-width:768px){
    .distribucion{
        .tabla-1{
            font-size: 12px;
        }
        .tabla-2{
            font-size: 12px;
        }
        .tabla-3{
            font-size: 12px;
        }
        .tabla-4{
            font-size: 12px;
        }
        .tabla-5{
            font-size: 12px;
        }
        .tabla-6{
            font-size: 12px;
        }
    }
}
/*****MEDIA-QUERIES-FUNCIONAL*****/
@media screen and (max-width:768px){
    .funcional-1{
        h2{
            font-size: 45px;
        }
    }
}
@media screen and (max-width:640px){
    .funcional-1{
        p{
            font-size: 18px;
        }
        .mejora{
            ul{
                li{
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:800px){
    .funcional-2{
        .tipos{
            img{
                width: 600px;
            }
        }
        .ejemplos{
            img{
                width: 550px;
            }
        }
    }
}
@media screen and (max-width:600px){
    .funcional-2{
        .tipos{
            h2{
                display: none;
            }
            img{
                display: none;
            }
        }
        .ejemplos{
            img{
                display: none;
            }
        }
    }
}
@media screen and (max-width:640px){
    .funcional-2{
        .entrenamientos{
            ul{
                li{
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:420px){
    .funcional-2{
        .ejemplos{
            h3{
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width:576px){
    .funcional-2{
        .ejemplo-tabla-1{
            font-size: 12px;
        }
        .ejemplo-tabla-2{
            font-size: 12px;
        }
        .ejemplo-tabla-3{
            font-size: 12px;
        }
    }
}
/*****MEDIA-QUERIES-ELONGACIONES*****/
@media screen and (max-width:870px){
    .elongar{
        div{
            img{
                display: none;
            }
        }
    }
}
@media screen and (max-width:576px){
    .elongar{
        h2{
            font-size: 35px;
        }
        p{
            font-size: 18px;
        }
        h3{
            font-size: 20px;
        }
        div{
            ul{
                li{
                    strong{
                        font-size: 18px;
                    }
                    p{
                        font-size:15px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:400px){
    .elongar{
        h2{
            font-size: 30px;
        }
        p{
            font-size:18px;
        }
    }
}
@media screen and (max-width:870px){
    .beneficios{
        flex-direction:column;
        div{
            img{
                display: none;
            }
        }
    }
}
@media screen and (max-width:576px){
    .beneficios{
        h2{
            font-size: 35px;
        }
        h3{
            font-size: 20px;
        }
        p{
            font-size: 15px;
        }
        div{
            ul{
                li{
                    strong{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:400px){
    .beneficios{
        h2{
            font-size: 30px;
        }
    }
}
@media screen and (max-width:900px){
    .beneficios{
        div{
            img{
                width: 350px;
                height: 250px;
            }
        }
    }
}
